body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: aquamarine;
}

/* Styles each game container */
.game {
  display: block;
  width: 200px;
  margin: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* Styles the game title */
.game h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Styles the Play Now button */
.game a {
  display: block;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}

/* Centers the game containers horizontally */
.games-container {
  display: flex;
  justify-content: center;
  margin: 0 auto; /* Centers the entire container  horizontally */
}
